
<%- include("partials/header"); -%>
  <br>  <h1 style="text-align:center;" >New Project</h1><br>
    <form class="" action="/addNew" method="post">
      <div class="form-group">
        <label>Full Name:</label>
        <input class="form-control" type="name" name="fullName" placeholder="Enter your name" value="<%= typeof name != 'undefined' ? name : '' %>"><br>
        <label>Phone Number:</label>
        <input class="form-control" type="text" name="phoneNo" placeholder="Enter your Phone No."><br>
        <label>Email:</label>
        <input class="form-control" type="email" name="emailId" placeholder="Enter your Email Id" value="<%= typeof email != 'undefined' ? email : '' %>"><br>
        <label>Project Name:</label>
        <input class="form-control" type="name" name="projectName" placeholder="Enter Project name"><br>
        <label>Project Description:</label>
        <textarea class="form-control" name="projectDescrip" rows="5" cols="30"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Add Project</button><br><br>
    </form>

<%- include("partials/footer"); -%>
